<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/updatePage.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1><%= patient_name %> information</h1>

        <form method="post" action="/api/admin/updateResults">
          <label for="">Patient id</label>
          <input type="text" value="<%= patient_id %>" name="patient_id" />
          <label for="">Patient name</label>
          <input type="text" value="<%= patient_name %>" name="patient_name" />
          <label for="">Patient age</label>
          <input type="text" value="<%= patient_age %>" name="patient_age" />
          <label for="">Patient address</label>
          <input
            type="text"
            value="<%= patient_address %>"
            name="patient_address"
          />
          <label for="">Patient mobile no.</label>
          <input
            type="text"
            value="<%= patient_mobileNo %>"
            name="patient_mobileNo"
          />
          <label for="">Patient disease</label>
          <input
            type="text"
            value="<%= patient_disease %>"
            name="patient_disease"
          />
          <button>Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
